.wrapper {
  padding: 15px;

  .content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .operation {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin-bottom: 10px;
    }

    .table {
      width: 100%;

      td {
        padding: 5px;
        border: 1px solid #ccc;
        text-align: center;
      }
    }
  }
}
